<%- include ../public/page_header.html %>


            <div class="panel panel-default">              
                    <div class="panel-heading">
                        <a href="/admin/goods/add" class="btn btn-primary">增加商品</a>
                    </div>
                    <div class="panel-body">
            <!--
                列表展示
            -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>                                   
                            <tr class="th">
                                <th>编号</th>
                                <th>商品名称</th>
                                <th>货号</th>
                                <th>价格</th>  
                                <th>点击量</th>
                                <th>状态</th>

                                <th>精品</th>
                                <th>新品</th>
                                <th>热销</th>
                                <th>推荐排序</th>
                                <th>库存</th>                             
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                 
                                <%for(let i=0;i<list.length;i++){%>
                                    <tr>
                                        <th><%=(i+1)+(page-1)*pageSize%></th>
                                        <td><%=list[i].title%></td>
                                        <td><%=list[i].goods_sn%></td>
                                        <td><span onclick="app.editGoodsCommon(this, 1, '<%=list[i].id%>')"><%=list[i].shop_price%></span></td>
                                        <td><span onclick="app.editGoodsCommon(this, 2, '<%=list[i].id%>')"><%=list[i].click_count%></span></td>    
                                        
                                        <td  class="text-center">
    
                                                <%if(list[i].status==1){%>
    
                                                        <img src="/public/admin/images/yes.gif" onclick="app.editGoodsCommon(this, 3, '<%=list[i].id%>', 1)" />
    
                                                <%}else{%>
                                                        <img src="/public/admin/images/no.gif"  onclick="app.editGoodsCommon(this, 3, '<%=list[i].id%>', 0)" />
                                                <%}%>
    
                                        </td>                                           
                                        
                                        <td  class="text-center">
    
                                            <%if(list[i].is_best==1){%>

                                                    <img src="/public/admin/images/yes.gif" onclick="app.editGoodsCommon(this, 4, '<%=list[i].id%>', 1)" />
    
                                                <%}else{%>
                                                        <img src="/public/admin/images/no.gif"  onclick="app.editGoodsCommon(this, 4, '<%=list[i].id%>', 0)" />
                                                <%}%>

                                        </td> 
                                        
                                        <td  class="text-center">
    
                                            <%if(list[i].is_news==1){%>

                                                  <img src="/public/admin/images/yes.gif" onclick="app.editGoodsCommon(this, 5, '<%=list[i].id%>', 1)" />
    
                                                <%}else{%>
                                                    <img src="/public/admin/images/no.gif"  onclick="app.editGoodsCommon(this, 5, '<%=list[i].id%>', 0)" />
                                                <%}%>

                                        </td> 

                                        <td  class="text-center">
    
                                            <%if(list[i].is_hot==1){%>
                                                <img src="/public/admin/images/yes.gif" onclick="app.editGoodsCommon(this, 6, '<%=list[i].id%>', 1)" />
    
                                                <%}else{%>
                                                    <img src="/public/admin/images/no.gif"  onclick="app.editGoodsCommon(this, 6, '<%=list[i].id%>', 0)" />
                                                <%}%>

                                        </td> 


                                        <td class="text-center"><span onclick="app.editGoodsCommon(this, 7, '<%=list[i].id%>')"><%=list[i].sort%></td>


                                        <td class="text-center"><span onclick="app.editGoodsCommon(this, 8, '<%=list[i].id%>')"><%=list[i].goods_number%></td>
    
    
                                        <td class="text-center"><a href="/admin/goods/edit?id=<%=list[i].id%>">修改</a>　　<a  class="delete" href="/admin/goods/delete?id=<%=list[i].id%>">删除</a></td>
                                    </tr>       
                                <%}%>


                            </tbody>
                        </table>
                        <div class="page_s1"></div>
                    </div>
                </div>
            </div>
</body>
<link rel="stylesheet" href="/public/admin/pagination/pagination.css">
<script type="text/javascript" charset="utf-8" src="/public/admin/pagination/pagination.js"></script>
<script>
    $(function(){
        let page_s1 = createPage('.page_s1');
        // 设置分页
        setPage(page_s1,{
            pageTotal: Number('<%=total%>'), // 数据总条数   
            pageSize: Number('<%=pageSize%>'),    // 每页显示条数
            pageCurrent: Number('<%=page%>'),  //  当前页
            maxBtnNum: 5,   // 最多按钮个数  （最少5个）
            change:function(page){   // 页数变化回调函数（返回当前页码）
                window.location.href = `/admin/goods?page=${page}&pageSize=50`
            }, 
        })
    })
</script>
</html>