<%- include ../public/page_header.html %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">              
			    <div class="panel-heading">
                    编辑颜色
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/goodsColor/doEdit" method="post">
                            <ul class="form_input">

                                <input type="hidden" name="_csrf" value="<%=csrf%>">
                                <input type="hidden" name="id" value="<%=list.id%>" />
                                <li>  <span>颜色名称:</span> <input type="text" name="color_name" value="<%=list.color_name%>"/></li>

                                <li>
                                    <span>颜色值:</span>
                                    <input type="text" class="jscolor" value="<%=list.color_value%>" name="color_value"/>
                                </li>

                                <li>   <span>状　　态: </span>
                                    <input type="radio" name="status" <%if(list.status==1){%> checked <%}%> value="1" id="a"/> <label for="a">显示</label>    
                                    <input type="radio"  <%if(list.status==0){%> checked <%}%>  name="status" value="0" id="b"/><label for="b">隐藏</label> 　
                                </li> 

                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<script src="/public/admin/js/jscolor.js"></script>
</body>
</html>