<style>
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .main{
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="container" style="margin: 100px auto auto auto;width: 600px;">
            <div class="main" style="text-align:center">
                <h1>欢迎来到通用型后台管理系统</h1>
            </div>
	    </div>
    </div>
</div>